istio:
  enabled: false
  # Default cluster auditor peer authentication
  mtls:
    # STRICT = Allow only mutual TLS traffic
    # PERMISSIVE = Allow both plain text and mutual TLS traffic
    mode: STRICT
  hardened:
    enabled: false
    customAuthorizationPolicies: []
    # - name: "allow-nothing"
    #   enabled: true
    #   spec: {}
    outboundTrafficPolicyMode: "REGISTRY_ONLY"
    customServiceEntries: []
      # - name: "allow-google"
      #   enabled: true
      #   spec:
      #     hosts:
      #       - "www.google.com"
      #       - "google.com"
      #     location: MESH_EXTERNAL
      #     ports:
      #       - number: 443
      #         protocol: TLS
      #         name: https
      #     resolution: DNS

    tempo:
      enabled: false
      namespaces:
      - tempo
      principals:
      - cluster.local/ns/tempo/sa/tempo-tempo

annotations: {}
# Only used to toggle networkPolicy for sidecar metrics scraping
monitoring:
  enabled: true
  dashboards:
    label: 
      grafana_dashboard: '1'
    namespace: monitoring

podLabels: {}

image:
  repo: registry1.dso.mil/ironbank/bigbang/cluster-auditor/opa-exporter
  tag: v0.0.7
  imagePullPolicy: Always

imagePullSecrets:
  - name: private-registry

tolerations: []

resources:
  requests:
    cpu: 300m
    memory: 300Mi
  limits:
    cpu: 300m
    memory: 300Mi
loglevel: debug

securityContext:
  readOnlyRootFilesystem: true
  capabilities:
    drop:
      - ALL
  allowPrivilegeEscalation: false
  privileged: false

affinity: {}
  # podAntiAffinity:
  #   requiredDuringSchedulingIgnoredDuringExecution:
  #     - topologyKey: "kubernetes.io/hostname"
  #       labelSelector:
  #         matchLabels:
  #           dont-schedule-with: cluster-auditor
  # nodeAffinity:
  #   requiredDuringSchedulingIgnoredDuringExecution:
  #     nodeSelectorTerms:
  #     - matchExpressions:
  #       - key: node-type
  #         operator: In
  #         values:
  #         - "cluster-auditor"

nodeSelector: {}
  # node-type: cluster-auditor

networkPolicies:
  enabled: false
  # See `kubectl cluster-info` and then resolve to IP
  controlPlaneCidr: 0.0.0.0/0
  vpcCidr: 0.0.0.0/0
  additionalPolicies: []

openshift: false

nameOverride: cluster-auditor

## Values for bbtests
bbtests:
  enabled: false
  cypress:
    artifacts: true
    envs:
      cypress_grafana_url: http://grafana.monitoring.svc.cluster.local
      cypress_prometheus_url: http://monitoring-kube-prometheus-prometheus.monitoring.svc.cluster.local:9090
      cypress_url: http://monitoring-grafana.monitoring.svc.cluster.local/d/YBgRZG6Mz/opa-violations?orgId=1
      # OPA violations table and violations by kind chart
      cypress_table_bar_allownodata: '1'
      # violations over time graph
      cypress_graph_allownodata: '2'
      cypress_reporter_ns: cluster-auditor
      cypress_check_datasource: "false"
